In [66]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv('/home/artixs/Documents/Downloads/covid19br-vac-main/covid19br-vac-main/csvs/processed_CE.csv')

In [77]:
df[df.isnull().any(axis=1)]

,date,state,city,ibgeID,dose,vaccine,sex,age,count,pop2021
0,2021-01-16,CE,Coreaú/CE,2304004,1,Pfizer/BioNTech,F,25-29,1,23340
1,2021-01-16,CE,Fortaleza/CE,2304400,1,AstraZeneca,F,75-79,1,2703391
2,2021-01-16,CE,Trairi/CE,2313500,1,Sinovac,M,75-79,1,56653
3,2021-01-17,CE,Araripe/CE,2301307,1,Sinovac,M,55-59,1,21707
4,2021-01-17,CE,Banabuiú/CE,2301851,2,Pfizer/BioNTech,F,20-24,1,18313
...,...,...,...,...,...,...,...,...,...,...
3340834,NaN,CE,Várzea Alegre/CE,2314003,1,Pfizer/BioNTech,F,40-44,3,41078
3340835,NaN,CE,Várzea Alegre/CE,2314003,1,Pfizer/BioNTech,M,45-49,4,41078
3340836,NaN,CE,Várzea Alegre/CE,2314003,1,Sinovac,M,35-39,1,41078
3340837,NaN,CE,Várzea Alegre/CE,2314003,1,Sinovac,M,40-44,2,41078
3340838,NaN,CE,Várzea Alegre/CE,2314003,1,Sinovac,M,45-49,1,41078

In [68]:
df = df.dropna()

In [69]:
dropped = df.drop(columns='date')

grouped = df.groupby(['state','city','ibgeID','dose','vaccine','sex','age','pop2021']).sum().reset_index()

grouped[grouped['city'] == 'Fortaleza/CE']['count'].sum()

7027419

In [70]:
unica = grouped[grouped['dose'] == 0]['count'].sum()
primeira = grouped[grouped['dose'] == 1]['count'].sum()
segunda = grouped[grouped['dose'] == 2]['count'].sum()
terceira = grouped[grouped['dose'] == 3]['count'].sum()
quarta = grouped[grouped['dose'] == 4]['count'].sum()
quinta = grouped[grouped['dose'] == 5]['count'].sum()

print(unica,primeira,segunda, terceira,quarta, quinta)

258377 7984905 7276628 8597642 11082 4311

In [71]:
grouped[(grouped['dose'] == 1) & (grouped['vaccine'] == 'Janssen')]

,state,city,ibgeID,dose,vaccine,sex,age,pop2021,count
47,CE,Abaiara/CE,2300101,1,Janssen,F,30-34,11965,1
48,CE,Abaiara/CE,2300101,1,Janssen,M,40-44,11965,1
492,CE,Acarape/CE,2300150,1,Janssen,M,40-44,15140,1
901,CE,Acaraú/CE,2300200,1,Janssen,F,80-84,63556,1
902,CE,Acaraú/CE,2300200,1,Janssen,M,20-24,63556,1
...,...,...,...,...,...,...,...,...,...
80633,CE,Umirim/CE,2313757,1,Janssen,M,45-49,19976,1
81467,CE,Uruoca/CE,2313906,1,Janssen,F,50-54,13988,1
82747,CE,Várzea Alegre/CE,2314003,1,Janssen,F,30-34,41078,1
82748,CE,Várzea Alegre/CE,2314003,1,Janssen,M,40-44,41078,1
82749,CE,Várzea Alegre/CE,2314003,1,Janssen,M,60-64,41078,1