In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('/home/artixs/Documents/Downloads/covid19br-vac-main/covid19br-vac-main/tudo.csv')

In [44]:
df.head()

  state       city   ibgeID  dose  vaccine sex    age  pop2021  count
0    RS  Aceguá/RS  4300034     0  Janssen   F  15-19     4981      2
1    RS  Aceguá/RS  4300034     0  Janssen   F  20-24     4981     13
2    RS  Aceguá/RS  4300034     0  Janssen   F  25-29     4981      9
3    RS  Aceguá/RS  4300034     0  Janssen   F  30-34     4981     21
4    RS  Aceguá/RS  4300034     0  Janssen   F  35-39     4981      6

In [45]:
doses = {}
for dose in df.dose.unique():
    doses[dose] = df[df['dose'] == dose]['count'].sum()

doses

{0: 5320110, 1: 185946181, 2: 173081886, 3: 186296652, 4: 1537097, 5: 30925}

In [46]:
filtro = (df['vaccine'] == 'Janssen') & (df['dose'] == 1)

for i,val in enumerate(filtro):
    if val:
        df.at[i, 'dose'] = 0
filtro = (df['vaccine'] == 'Janssen') & (df['dose'] == 2)

for i,val in enumerate(filtro):
    if val:
        df.at[i, 'dose'] = 3

In [47]:
doses = {}
for dose in df.dose.unique():
    doses[dose] = df[df['dose'] == dose]['count'].sum()

doses

{0: 5368331, 1: 185897960, 2: 172049743, 3: 187328795, 4: 1537097, 5: 30925}